* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    background-color: #f7fafd;
    /* background-color: aquamarine; */
    /*height: 5000px;*/
    font-weight: 400;
    font-size: 16px;
}

#main-menu {
    float: left;
    padding: 0 15px;
}

#main-menu ul {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
    margin-right: 35px;
}

#main-menu a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

#main-menu a:hover {
    color: #1ec6b6;
    transition: 0.3s;
}


#contact {
    float: right;
    display: inline-block;
    width: 370px;
}

#contact .phone-number {
    float: left;
    display: inline-block;
    font-size: 14px;

}

#contact .phone-number p {
    padding-right: 10px;
    border-right: 1px solid rgb(234, 234, 234);

}

#contact .phone-number i{
    color: #FF4A52
}

#contact .social-links {

}

#contact .social-links ul{
    list-style-type: none;
}

#contact .social-links li{
    display: inline-block;
    margin: 0 10px;

}

#contact .social-links  a{
    text-decoration: none;

}



#contact .social-links i{
    color: #AAB1B7;
}

#contact .social-links  i:hover{
    color: #FF4A52;
    transition: 0.3s;
}


#search-header {
    float: right;
    width: 80px;
    background-color: #FF4A52;
    height: 110px;
    text-align: center;
    margin: -30px -390px 0px 0;
    display: inline-block;
    line-height: 110px;
}

#search-header a {

}
#search-header a i {
    color: #fff;
}

#slider{
    transition: background-image 0.5s ;
    margin-top: 110px;
    width: 100%;
    height: 500px;
    background-image: url('../images/slider/slide1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    /* display: none; */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

/* @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  } */
#slider .left {
    position: absolute;
    float: left;
    top: 40%;
    color: #fff;
    padding: 50px 15px;
    background-color:rgba(255, 255, 255, 0.2)
}

#slider .left:hover, #slider .right:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

#slider .right {
    position: absolute;
    /* float: right; */
    top: 40%;
    right: 0;
    color: #fff;
    padding: 50px 15px;
    background-color:rgba(255, 255, 255, 0.2)
}


#slider .slider-contents{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 85px;
}

.slider-contents h3 {
    height: 135px;
    font-size: 120px;
    font-family: cursive;
    font-weight: 400;
    color: #fff;
}

.slider-contents p {
    margin: 33px 0;
    font-size: 20px;
    color: #fff;
}

.slider-contents a {
    text-decoration: none;
    color: #fff;
    padding: 18px 41px;
    background-color: rgb(30, 198, 182);
    border-radius: 5px;
    font-size: 16px;
}
.slider-contents a:hover {
    background-color: #FF4A52;
    transition: 0.3s;
}

.where-to-go-area {
    width: 100%;
    /* height: 50px; */
    padding: 50px 0;
    background-color: rgb(4, 14, 39);
    color: #fff;
    text-align: center;
}

.where-to-go-area .container {
    height: 50px;
    line-height: 50px;
}

.where-to-go-area .where-you-want-to-go {
    display: inline-block;
    font-size: 24px;
    padding: 0 15px;

}

.where-to-go-area .where-you-want-to-go h3 {
    font-weight: 400;
}




.where-to-go-area .form-search {
    display: inline-block;
    padding: 0 15px;

}

.form-search .input-field {
    display: inline-block;
    padding-right: 5px;
}

.form-search .input-field input, .form-search .input-field select{
    width: 200px;
    height: 50px;
    background: transparent;
    padding-left: 15px;
    border: 1px solid #363e52 ;
    border-radius: 5px;
    color:#a8adb9;
    padding-right: 50px;
    font-size: 16px;
    font-weight: 300;
}

.form-search .input-field input::placeholder {
    color: #a8adb9;
    font-size: 16px;
    font-weight: 300;

}
.form-search .input-field input:focus, .form-search .input-field select:focus {
    outline: none;
}

.form-search .search-btn {
    display: inline-block;
}

.form-search .search-btn button {
    padding: 16px 39px;
    background-color: rgb(255, 74, 82);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

}

.form-search .search-btn button:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #1ec6b6;
}

.popular-destinations-area {
    padding: 142px 0 150px 0;
}

.popular-destinations-area .container {
    text-align: center;
    margin: 0 142px;

}

.popular-destinations-area .description {
    display: inline-block;
    width: 540px;
    margin-bottom: 62px;

}

.popular-destinations-area .description h3 {
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.popular-destinations-area .description p {
    font-size: 16px;
    color: #7a838b;
    font-weight: 400;
    /* width: 540px; */
}

.popular-destinations-area .detail {

}

.popular-destinations-area .single-destination {
    display: inline-block;
    width: 350px;
    height: 333px;
    margin:0 13px 30px 13px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 ;


}
.popular-destinations-area .single-destination:hover {
    box-shadow: 0 10px 20px rgb(0,0,0);
    transition: 0.3s;
}

.popular-destinations-area .single-destination:hover.single-destination .thumb a{
    transition: 0.3s;
    background-color:#FF4A52;
}

.popular-destinations-area .single-destination:hover.single-destination .destination-infor a h3{
    transition: 0.3s;
    color:#FF4A52;
}

.single-destination .thumb {
    position: relative;

}

.single-destination .thumb img {
    width: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}


.single-destination .thumb a{
    text-decoration: none;
    color: #fff;
    padding: 7px 18px;
    border-radius: 18px;
    background-color: rgb(30, 198, 182);
    position: absolute;
    left: 20px;
    top: 20px;
}

.single-destination .destination-infor {
    padding: 27px 20px 25px 20px;
    text-align: left;
    font-size: 14px;

}

.single-destination .destination-infor a {
    text-decoration: none;
    color: #040e27;

}

.single-destination .destination-infor a h3 {
    font-size: 22px;
    font-weight: 350;
}

.single-destination .destination-infor p {
    color: #7a838b;
    margin-top: 2px;
    margin-bottom: 7px;
}

.single-destination .destination-infor .rate {
    color: rgb(122, 131, 139);

}

.destination-infor .rate span {

}

.destination-infor .rate span i{
    color: #fdae5c;

}

.destination-infor .rate span a{
    margin-left: 5px;
    color: rgb(122, 131, 139);



}

.destination-infor .rate .days{
    display: inline-block;
    float: right;
}

.destination-infor .rate .days i{
    margin-right: 8px;
}

.destination-infor .rate .days a{
    color: rgb(122, 131, 139);
}

.popular-destinations-area .more-places {
    margin-top: 53px;
}

.popular-destinations-area .more-places a {
    text-decoration: none;
    color: #fff;
    padding: 13px 39px;
    background-color: #FF4A52;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}

.popular-destinations-area .more-places a:hover {
    background-color: #1ec6b6;
    transition: 0.3s;

}

/*---------------------------------------------------------------*/
/* Reset CSS */
/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/* Common */

html {
    scroll-behavior: smooth;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.clear {
    clear: both;
}

.text-align {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: 88px;
    margin-right: 88px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 45px;
    padding-right: 45px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-half-third {
    width: 16.666667%;
}

.col-fourth {
    width: 25%;
}

.col-2 {
    columns: 2;
    width: 100%;
}

.col-3 {
    columns: 3;
}

/* Main */

/* Travel-variation */
#content .travel-variation {
    margin-top: 154px;
}

#content .travel-variation-item p {

}

#content .travel-variation-item h3 {
    margin: 41px 0px 10px;
    font-size: 22px;
    font-weight: 400;
    color: #040e27;
}

#content .travel-variation-item
.travel-variation-des {
    margin-top: 16px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
}

/* Feedback */

#content .feedback {
    margin-top: 148px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 130px;
    background: #f7fafd;
}

#content .feedback-item {
    margin-left: 240px;
    margin-right: 240px;
}

#content .feedback-img {
    padding-top: 50px;
}

#content .feedback-text {
    margin-top: 36px;
    color: #040e27;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

#content .feedback-author {
    margin-top: 16px;
    color: #7a838b;
    font-size: 16px;
    font-weight: 400;
}

.dots {
    margin-top: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #aab1b7;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}

.dot-active {
    background: #ff4a52;
}

/* Blog */

#content .blog {
    margin-top: 154px;
    padding-bottom: 140px;
}

#content .blog-title {
    font-size: 38px;
    font-weight: 400;
    color: #040e27;
}

#content .blog-list {
    margin-top: 66px;
}

#content .blog-item img {
    border-radius: 5px;
}

#content .blog-item .blog-date {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #7a838b;
    display: block;
}

#content .blog-item .blog-text {
    margin-top: 16px;
    color: #040e27;
    font-size: 22px;
    font-weight: 400;
}

#content .blog-item a {
    text-decoration: none;
    color: #040e27;
}

#content .blog-item a:hover {
    color: #ff4a52;
    transition: 0.3s;
}
