/* Footer section */

#footer {
    margin-top: 140px;
    height: auto;
    background-color: #040e27;
    overflow: hidden;
}

#footer .footer-section {
    width: 1110px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer-top {
    color: #fff;
    padding-top: 120px;
}

.footer-top .footer-widget {

}

.footer-top p {
    margin-top: 32px;
    line-height: 26px;
    font-size: 15px;
    font-weight: 400;
    color: #AAB1B7;
}

.footer-top .footer-widget .footer-title {
    font-size: 20px;
    font-weight: 400;
}

.footer-logo img {
    width: 20%;
}


.footer-top .social-links {
    margin-top: 20px;
    overflow: hidden;
}

.footer-top .social-links li {
    padding-right: 20px;
    list-style: none;
    display: inline;
}

.footer-top .footer-widget a:hover,
.footer-top .social-links li :hover {
    color: #ff4a52;
    transition: 0.3s;
}

.footer-top .footer-des {
    padding-right: 0px;
}

.footer-top .footer-links {
    display: block;
}

.footer-top .footer-widget a {
    text-decoration: none;
    color: #AAB1B7;
}

.footer-top .footer-widget ul {
    float:left;
    margin-top: 32px;
}

.footer-top .footer-widget ul li {
    line-height: 36px;
    font-size: 14px;
}

.footer-top .footer-links li {
    list-style: none;
}

.footer-top .insta-place li {
    list-style: none;
    padding-bottom: 16px;
}

.footer-top .insta-place img {
    display: block;
    border-radius: 5px;
    width: 74px;
    height: 74px;
}

#footer .border-copyright {
    margin-top: 130px;
    border-top: 1px solid #363E52;
}

#footer .copyright {
    margin-top: 34px;
    margin-bottom: 34px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #AAB1B7;
}