/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;

}


.clear {
    clear: both;
}

.text-align {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}

.col-two-third {
    width: calc(100%/3*2);
}

.col-sixth {
    width: 16.66667%;
}

.col-five-sixth{
    width: 83.33333%;
}

.col-quater {
    width: 25%;
}

.col-three-quater {
    width: 75%;
}

.col-2 {
    columns: 2;
    width: 100%;
}

.col-3 {
    columns: 3;
}

#header {
    font-weight: 400;
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 1) ;
    position: fixed;
    z-index: 2;
    margin-top: -110px;
}

.header-contents {
    width: 100%;
    padding: 30px 20px;
    height: 100%;
    line-height: 50px;

}

.header-contents .mobile-menu-btn {
    display: none;
}

.header-contents #logo {
    height: 100%;
    float: left;
}

.header-contents a{
    text-decoration: none;
}

.header-contents #logo{
    padding-right: 70px;
}

.header-contents #logo i{
    font-size: 41px;
    display: inline-block;
    color: #FF4A52;
}

.header-contents #logo .logo-slogan{
    display: inline-block;
    font-size: 25px;
    color: #000;
}

#main-menu {
    float: left;
    padding: 0 15px;
}

#main-menu ul {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
    margin-right: 35px;
}

#main-menu a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

#main-menu a:hover {
    color: #1ec6b6;
    transition: 0.3s;
}


#contact {
    float: right;
    display: inline-block;
    width: 300px;
}

#contact .phone-number {
    float: left;
    display: inline-block;
    font-size: 14px;

}

#contact .phone-number a{
    text-decoration: none;
    color: #363e52;
}

#contact .phone-number a:hover {
    color: rgb(255, 77, 85);
    transition: 0.3s;
}

#contact .phone-number p {
    padding-right: 10px;
    border-right: 1px solid rgb(234, 234, 234);

}

#contact .phone-number i{
    color: #FF4A52
}


#contact .user {
    display: inline-block;
    float: right;
    color: #f7fafd;
}

#contact .user a {
    text-decoration: none;
    color: #f7fafd;
}

#contact .user .sign-up {
    display: inline-block;
    background-color: rgba(255, 74, 82, 0.6);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
}

#contact .user .sign-up:hover {
    background-color: #ff464f;
    transition: 0.3s;
}

#contact .user .log-in {
    display: inline-block;
    background-color: rgba(30, 198, 182,0.6);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
}

#contact .user .log-in:hover {
    background-color: #1ec6b0;
    transition: 0.3s;
}