#header {
    font-weight: 400;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 255, 255) ;
    position: fixed;
    z-index: 2;
    margin-top: -110px;
}

.header-contents {
    width: 100%;
    padding: 30px 20px;
    height: 100%;
    line-height: 50px;

}

.header-contents #logo {
    height: 100%;
    float: left;
}

.header-contents a{
    text-decoration: none;
}

.header-contents #logo{
    padding-right: 70px;
}

.header-contents #logo i{
    font-size: 41px;
    display: inline-block;
    color: #FF4A52;
}

.header-contents #logo .logo-slogan{
    display: inline-block;
    font-size: 25px;
    color: #000;
}

#main-menu {
    float: left;
    padding: 0 15px;
}

#main-menu ul {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
    margin-right: 35px;
}

#main-menu a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

#main-menu a:hover {
    color: #1ec6b6;
    transition: 0.3s;
}


#contact {
    float: right;
    display: inline-block;
    width: 370px;
}

#contact .phone-number {
    float: left;
    display: inline-block;
    font-size: 14px;

}

#contact .phone-number p {
    padding-right: 10px;
    border-right: 1px solid rgb(234, 234, 234);

}

#contact .phone-number i{
    color: #FF4A52
}

#contact .social-links {

}

#contact .social-links ul{
    list-style-type: none;
}

#contact .social-links li{
    display: inline-block;
    margin: 0 10px;

}

#contact .social-links  a{
    text-decoration: none;

}



#contact .social-links i{
    color: #AAB1B7;
}

#contact .social-links  i:hover{
    color: #FF4A52;
    transition: 0.3s;
}


#search-header {
    float: right;
    width: 80px;
    background-color: #FF4A52;
    height: 110px;
    text-align: center;
    margin: -30px -390px 0px 0;
    display: inline-block;
    line-height: 110px;
}

#search-header a {

}
#search-header a i {
    color: #fff;
}