
/* reset css */

/* reset css */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    background-color: rgba(203, 203, 210, 0.15);
}

body {
    position: relative;
}

/* begin: tour-panel  */
.tour-panel {
    float: right;
    /* text-align: center; */
    width: 1165px;
}

.tour-panel .card {
    margin-top: 50px;
    width: 620px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px ;
    border: 1px solid rgba(0, 0, 0, 0.125);


}

.tour-panel .card .card-header {
    padding: 15px 0px 15px 0px;
    margin: 0px 15px;
    border-bottom: 1px solid rgb(86, 86, 86);
}

.tour-panel .card .card-header h4 {
    color: rgb(33, 37, 41);
    font-size: 20px;
    font-weight: 400;
}


.tour-panel .card .card-body {
    padding: 15px 15px 10px 15px;
}

.tour-panel .card-body input, textarea, button {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(227, 227, 227);
    color: rgb(86, 86, 86);
    width: 100%;
    margin: 20px 0px;
}

.tour-panel .card-body .city-id {
    display: inline-block;
    width: 30%;
}

.tour-panel .card-body .name {
    display: inline-block;
    width: 69%;
}

.tour-panel .card-body .duration {
    display: inline-block;
    width: 33%;
}

.tour-panel .card-body .rating {
    display: inline-block;
    width: 34%;
}

.tour-panel .card-body .price {
    display: inline-block;
    width: 31%;
}


.tour-panel .card-body .img input{
    border: none;
}

.tour-panel .card-body button {
    color: #fff;
    background-color: #1ec6b6;
    border: none;
    font-size: 18px;
    font-weight: 400;

}

.tour-panel .card-body button:hover {
    background-color: #FF4A52;
    transition: 0.3s;
}
/* end: tour-panel  */


/* begin: tour list  */
.tour-list {
    float: right;
    width: 1165px;
}

.tour-list .card {
    margin-top: 50px;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 4px ;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tour-list .card .card-header {
    padding: 15px 0px 15px 0px;
    margin: 0px 15px;
    border-bottom: 1px solid rgb(86, 86, 86);
}

.tour-list .card .card-header h4 {
    color: rgb(33, 37, 41);
    font-size: 20px;
    font-weight: 400;
}

.tour-list .card .card-body {
    padding: 15px 15px 10px 15px;
}

.card-body th {
    border-top: 1px solid rgb(233, 236, 239);
    border-bottom: 2px solid rgb(233, 236, 239);
    text-align: left;
    padding: 12px 10px;
    /* width: 100%; */
}

.card-body th.id {
    width: 5%;
}

.card-body th.city-id{
    width: 10%;
}

.card-body th.name{
    width: 15%;
}

.card-body th.description {
    width: 40%;
}

.card-body th.duration {
    width: 15%;
}

.card-body th.rating {
    width: 5%;
}

.card-body th.price {
    width: 5%;
}

.card-body th.img {
    width: 5%;
}

.card-body td {
    padding: 12px 10px;
}

.tour-list .card-body td button {
    background-color: #1ec6b6;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
}

.tour-list .card-body td button:hover {
    background-color: #FF4A52;
    transition: 0.3s;

}

/* end: tour list  */