/* Common */
html,
body{
    width: 100%;
    overflow-x: hidden;
}

/* Tablet */
@media (min-width: 741px) and (max-width: 1023px) {
    .m-col-full {
        width: 100%;
    }

    .m-col-half {
        width: 50%;
    }

    /* Contact section */

    #content .contact-section {
        padding-left: 30px;
    }

    #content .contact-info {
        margin-top: 30px;
    }

}

/* Mobile */
@media (max-width: 740px) {
    .s-col-full {
        width: 100%;
    }

    .s-col-half {
        width: 50%;
    }

    .s-col-third {
        width: calc(100%/3);
    }

    #content .contact-section {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #content .contact-info {
        margin-top: 30px;
    }

    .contact-form input[type="submit"] {
        width: 36%;
    }

}