/* Common */
html,
body{
    width: 100%;
    overflow-x: hidden;
}

/* Tablet */
@media (min-width: 741px) and (max-width: 1023px) {
    .m-col-full {
        width: 100%;
    }

    .m-col-half {
        width: 50%;
    }

    /* Footer */

    #footer .footer-top {
        padding-left: 30px;
        padding-right: 30px;
    }

    #footer .footer-top {
        display: flex;
        flex-wrap: wrap;
    }

    #footer .footer-widget {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-top .insta-place img {
        width: 102px;
        height: 102px;
    }

    #footer .copyright-section {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Mobile */
@media (max-width: 740px) {
    /* 540 */
    .s-col-full {
        width: 100%;
    }

    .s-col-half {
        width: 50%;
    }

    .s-col-third {
        width: calc(100%/3);
    }

    /* Footer */

    #footer .footer-top {
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer .footer-widget {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-top .insta-place img {
        width: 117px;
        height: 117px;
    }

    #footer .copyright-section {
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer .border-copyright {
        margin-top: 4px;
    }

    #footer .copyright {
        line-height: 1.6;
    }

}