/* web  */
@media screen and (min-width: 1024px) {
    #header .header-contents .mobile-menu-btn {
        display: none;
    }
}

/* table  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #slider {
        height: 600px;
    }
}

/* mobile  */
@media screen and (max-width: 767px) {
    #slider {
        height: 300px;
    }

    #slider .slider-contents h3 {
        font-size: 50px !important;
    }

    #slider .slider-contents p {
        font-size: 16px !important;
    }

    .popular-destinations-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .popular-destinations-area .description h3 {
        font-size: 30px;
    }
}



/* table & mobile */
@media screen and (max-width: 1023px) {
    .where-to-go-area .container {
        height: 100%;
    }

    .where-to-go-area .where-you-want-to-go {
        font-size: 18px;
    }

    .form-search, .input-field, .search-btn {
        display: block !important;
    }

    .form-search input, .form-search select, .form-search button {
        width: 510px !important;
        margin: 10px 0 !important;
    }
}


/* other */

/* header */
@media screen and (max-width: 1089px) {
    #slider .slider-contents h3 {
        font-size: 75px;
    }
}

/* where-to-go-area */
@media screen and (max-width: 1113px) {
    .where-to-go-area .where-you-want-to-go {
        font-size: 18px;
    }

    .form-search .input-field input, .form-search .input-field select {
        width: 170px;
    }
}


/*--------*/
/* Common */
html,
body{
    width: 100%;
    overflow-x: hidden;
}

/* Tablet */
@media (min-width: 741px) and (max-width: 1023px) {
    .m-col-full {
        width: 100%;
    }

    .m-col-half {
        width: 50%;
    }

    /* Travel variation */

    #content .travel-variation {
        max-width: 720px;
    }

    #content .travel-variation-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Feedback */

    /* Blog */

    #content .blog-list {
        padding-left: 30px;
        padding-right: 30px;
    }

    #content .blog-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/* Mobile */
@media (max-width: 740px) {
    .s-col-full {
        width: 100%;
    }

    .s-col-half {
        width: 50%;
    }

    .s-col-third {
        width: calc(100%/3);
    }

    /*Travel variation  */

    #content .travel-variation-item {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Feedback */

    #content .feedback-item {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Blog */

    #content .blog-list {
        padding-left: 15px;
        padding-right: 15px;
    }

    #content .blog-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}


