/* Common */
html,
body{
    width: 100%;
    overflow-x: hidden;
}

/* Tablet */
@media (min-width: 741px) and (max-width: 1023px) {
    .m-col-full {
        width: 100%;
    }

    .m-col-half {
        width: 50%;
    }

    #content {
        margin-top: 100px;
    }

}

/* Mobile */
@media (max-width: 740px) {
    .s-col-full {
        width: 100%;
    }

    .s-col-half {
        width: 50%;
    }

    .s-col-third {
        width: calc(100%/3);
    }

}