/* web  */
@media screen and (min-width: 1024px) {

}

/* table  */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* mobile  */
@media screen and (max-width: 767px) {

}



/* table & mobile */
@media screen and (max-width: 1023px) {
    .user-panel {
        margin-top: 0;
    }

    .user-panel .container {
        width: 760px;
        max-width: 100%;
    }

    .user-panel .container .profile {
        right: 50%;
        top: 0%;
        transform: translateX(50%);

    }

    .user-panel .container .card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 350px;
        max-width: 100%;
    }

    .booking-list {
        width: 760px !important;
    }


}


/* other */
@media screen and (max-width: 1159px) {
    .booking-list {
        width: 1023px;
        max-width: 100%;
    }
}

@media all and (max-width: 414px) {
    thead .description-id, thead .user-id, thead .created-at {
        display: none;
    }

    tbody .description-id, tbody .user-id, tbody .created-at {
        display: none;
    }


}


